.rechts {
    float: right;
}

@media (min-width: 720px){
    .rechts {
        position: fixed;
        left: 630px;
    }
    .rechts.unsicher {
        position: fixed;
        left: 610px;
    }
}

body {
    background-color: #85EDC0;
}